<head>
	<title>Tabs are fun</title>
	
	
	<style>
		
		.tabs ul {
			list-style: none;
		}

		.tabs ul li {
			float: left;
			background: #eee;
			border: 1px #aaa solid;
			border-bottom: none;
			margin-right: 10px;
			padding: 5px;
		}

		.tabs ul li.active {
			margin-bottom: -1px;
			padding-bottom: 5px;
		}

		.tabInner {
			clear: both;
			border: 1px solid #aaa;
			height: 250px;
			overflow: hidden;
			background: #eee;
		}

		.tabInner div {
			height: 500px;
			padding: 50px;

		}
		
	</style>

	
</head>

<body>
    <div class="tabs">
	
		<nav>
			<ul>
				<li><a href="#restaurants">Restaurants</a></li>
				<li class="active"><a href="#sceptic_tanks">Sceptic Tanks</a></li>
				<li><a href="#water_wells">Water Wells</a></li>
			</ul>
		</nav>
		
        <div class="tabInner">
           
		   <div id="restaurants">
				<form method="post">
					Restaurant Name: <input type="text" name="restName" placeholder="Restaurant Name"><br>
					Location: <input type="text" name="restLocation" placeholder="Address, Town"><br>
					Number of Violations: <input type="text" name="numViolations" placeholder="Ex: 1, 20, 34"><br>
					Violation Codes: <input type="text" name="codeViolations" placeholder="Ex. Violation Codes"><br>
					Date: <input type="text" name="restDate" placeholder="MM/DD/YYYY"><br>
					<input type="Submit" value="Search" Width="90px">
				</form>
            </div>
            <div id="sceptic_tanks">
				<form method="post">
					Location: <input type="text" name="tankLocation" placeholder="Address, Town"><br>
					Condition: <input type="text" name="tankCondition" placeholder="Empty, Need to be Empty"><br>
					<input type="Submit" value="Search" Width="90px">
				</form>
			</div>
            <div id="water_wells">
                <form method="post">
					Location: <input type="text" name="wellLocation" placeholder="Address, Town / GPS Coordinate"><br>
					Water Quality: <input type="text" name="waterQuality" placeholder="Water Quality"><br>
					<input type="Submit" value="Search" Width="90px">
				</form>
			</div>
			
			
		</div>
    </div>
</body>